@model Starter.Controllers.DependencyGroupAndNewDependency

@{
    ViewData["Title"] = "Dependency Group: " + Model.DependencyGroup.Name;
}

<div>
    <div class="headertwo">
        <h2>@ViewData["Title"]</h2>
    </div>

    @if (ViewData["Message"] != null)
    {
        <div>
            <p class="message">
                @ViewData["Message"]
            </p>
        </div>
    }

    @Html.Partial("_DependencyGroupDetailsTable", Model.DependencyGroup)

    <hr />

    @Html.Partial("_DependencyIndexTable", Model.DependencyGroup.Dependencies)

    @Html.Partial("_CreateDependency", Model.Dependency)

    <div>
        <hr />
        <p>
            <a class="Actions" asp-action="Edit" asp-route-id="@Model.DependencyGroup.DependencyGroupID">Edit</a>
        </p>
        <p>
            <a class="Actions" asp-action="Delete" asp-route-id="@Model.DependencyGroup.DependencyGroupID">Delete</a>
        </p>
        <p>
            <a class="Actions" asp-controller="DependencyGroups" asp-action="Index">Back to Dependency Groups</a>
        </p>
    </div>
</div>