@model Starter.Controllers.LibraryAndSectionAndSuiteAndTest

<form asp-action="Create" asp-controller="Tests" enctype="multipart/form-data">
    <div class='panel-group'>
        <div class='panel panel-default'>
            <div class='panel-heading'>
                <h3 class='panel-title'>
                    <a data-toggle='collapse' id='Toggle' href='#collapse'>Create Test</a>
                </h3>
            </div>
            <div id='collapse' class='panel-collapse collapsed collapse'>
                <div class='panel-body'>
                    <div class="form-horizontal">
                        <div asp-validation-summary="ValidationSummary.ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="@Model.Test.Name" class="col-md-2 control-label"></label>
                            <div class="col-md-10">
                                <input asp-for="@Model.Test.Name" class="form-control" />
                                <span asp-validation-for="@Model.Test.Name" class="text-danger" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label asp-for="@Model.Test.Description" class="col-md-2 control-label"></label>
                            <div class="col-md-10">
                                <textarea asp-for="@Model.Test.Description" class="form-control textarea" rows="5"></textarea>
                                <span asp-validation-for="@Model.Test.Description" class="text-danger" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label asp-for="@Model.Test.TestDataSource" class="col-md-2 control-label"></label>
                            <div class="col-md-10">
                                <select asp-for="@Model.Test.TestDataSource" class="form-control" >
                                    <option selected="selected" value="Starter">Starter</option>
                                    <option value="Excel">Excel</option>
                                </select>
                                <span asp-validation-for="@Model.Test.TestDataSource" class="text-danger" />
                            </div>
                        </div>
                        <div class="form-group" id="ExcelSelected">
                            <div class="col-md-10">
                                <input type="file" name="file" class="form-control" />
                            </div>
                        </div>
                        <input asp-for="@Model.Test.ExcelFilePath" class="form-control" type="hidden" readonly="readonly" value="" />
                        <input asp-for="@Model.Test.SuiteID" class="form-control" type="hidden" readonly="readonly" value="@Model.Suite.SuiteID" />
                        <span asp-validation-for="@Model.Test.SuiteID" class="text-danger" />
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="Create" class="btn btn-default" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>