@model GenericFolderTreeNode

@if (Model.GenericFolders.Where(s => s.ParentLocationID == Model.Seed).Any())
{
    
    @foreach (var node in Model.GenericFolders)
    {
        var genericFolderName = "GenericFolders-" + node.GenericFolderID;
        if (node.ParentLocationID == Model.Seed)
        {
            var inner = new GenericFolderTreeNode { Seed = node.GenericFolderID, GenericFolders = Model.GenericFolders };

            if (!inner.GenericFolders.Where(t => t.ParentLocationID == inner.Seed).Any())
            {
                <div class='treeview panel-group'>
                    <div class='treeview panel panel-default'>
                        <div class='treeview panel-heading'>
                            <a class="treeviewLink" asp-controller="GenericFolders" asp-action="Details" asp-route-id="@node.GenericFolderID" name="@genericFolderName">@node.Name</a>

                            @Html.Partial("_TreeviewNode", inner)

                            @Html.Partial("_TestEnvironmentNode", node)
                           
                        </div>
                    </div>
                </div>
            }
            else
            {
                var toggleID = "collapseFolders" + node.GenericFolderID;
                string classExpandedOrNotPanel;
                string classExpandedOrNotLink;
                if (node.isExpanded)
                {
                    classExpandedOrNotPanel = "collapse in";
                    classExpandedOrNotLink = "treeviewLink";
                }
                else
                {
                    classExpandedOrNotPanel = "collapse";
                    classExpandedOrNotLink = "treeviewLink collapsed";
                }

                <div class='treeview panel-group'>
                    <div class='treeview panel panel-default'>
                        <div class='treeview panel-heading'>
                            <a class="@classExpandedOrNotLink" data-toggle='collapse' id='Toggle' href='#@toggleID' name="@genericFolderName">@node.Name</a>
                        </div>

                        <div id='@toggleID' class='treeview panel-collapse collapsed @classExpandedOrNotPanel' name="@genericFolderName">
                            <div class='treeview panel-body' name="@node.GenericFolderID">

                                @Html.Partial("_TreeviewNode", inner)

                                @if (node.TestEnvironments.Any())
                                {
                                    @Html.Partial("_TestEnvironmentNode", node)
                                }

                            </div>
                        </div>
                    </div>
                </div>
            }
        }
    }
}
