@model Starter.ViewModels.Category.CollectionDetailsViewModel

@{
    ViewData["Title"] = "Collection: " + Model.Collection.Name;
}

<div>
    <div class="headertwo">
        <h2>@ViewData["Title"]</h2>
    </div>

    @if (ViewData["Message"] != null)
    {
        <div>
            <p class="message">
                @ViewData["Message"]
            </p>
        </div>
    }

    @Html.Partial("_CollectionDetailsTable", Model.Collection)

    <hr />

    @Html.Partial("_SetIndexTable", Model.Sets)

    @Html.Partial("_CreateSet", Model.NewSet)

    <div>
        <hr />
        <p>
            <a class="Actions" asp-action="Edit" asp-route-id="@Model.Collection.CollectionID">Edit</a>
        </p>
        <p>
            <a class="Actions" asp-action="Delete" asp-route-id="@Model.Collection.CollectionID">Delete</a>
        </p>
        <p>
            <a class="Actions" asp-controller="Categories" asp-action="Details" asp-route-id="@Model.">Back to Category: @Model.Collection.Category.Name</a>
        </p>
        <p>
            <a class="Actions" asp-controller="Categories" asp-action="Index">Back to Categories</a>
        </p>
    </div>
</div>