@model IEnumerable<Starter.Models.TestRun>

<div class='panel-group noMargin'>
    <div class='panel panel-default noMargin'>
        <div class='panel-heading'>
            <h3 class='panel-title'>
                <a data-toggle='collapse' id='Toggle' href='#collapseTestRuns'>Test Runs Using Test</a>
            </h3>
        </div>
        @if (Model.Any())
            {
            <div id='collapseTestRuns' class='panel-collapse collapsed collapse'>
                <div class='panel-body'>
                    <table id="TestRunsUsingTestDataTable" class="table table-striped">
                        <thead id="greyTableheader">
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.First().TestRunID)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.First().Run.Name)
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td class="AvailableMethodtd">
                                        <p class="TableParagraph">
                                            @item.TestRunID
                                        </p>
                                    </td>
                                    <td class="AvailableMethodtd">
                                        <p class="SmallPadding">
                                            <a class="Actions" asp-controller="Runs" asp-route-id="@item.RunID" asp-action="Details">@item.Run.Name</a>
                                        </p>
                                    </td>
                                </tr>
                            }

                        </tbody>
                    </table>
                </div>
            </div>
        }
        else
        {
            <div id='collapseTestRuns' class='panel-collapse collapsed collapse in'>
                <div class='panel-body'>
                    <p>
                        There are currently no Test Runs using this test
                    </p>
                </div>
            </div>
        }
    </div>
</div>