@model Starter.Models.ProcedureStep

<form asp-action="CreateProcedureStep" asp-controller="Procedures">
    <div class='panel-group noMargin'>
        <div class='panel panel-default noMargin'>
            <div class='panel-heading'>
                <h3 class='panel-title'>
                    <a data-toggle='collapse' id='Toggle' href='#collapse'>Create Procedure Step</a>
                </h3>
            </div>
            <div id='collapse' class='panel-collapse collapsed collapse'>
                <div class='panel-body'>
                    <div class="form-horizontal">
                        <div asp-validation-summary="ValidationSummary.ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="@Model.StepID" class="col-md-2 control-label"></label>
                            <div class="col-md-10">
                                <input asp-for="@Model.StepID" class="form-control" value="@Model.Order" />
                                <span asp-validation-for="@Model.StepID" class="text-danger" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label asp-for="@Model.Method" class="col-md-2 control-label"></label>
                            <div class="col-md-10">
                                <select asp-for="@Model.Method" asp-items="ViewBag.AvailableMethods" class="chosen"></select>
                                <span asp-validation-for="@Model.Method" class="text-danger" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label asp-for="@Model.Attribute" class="col-md-2 control-label"></label>
                            <div class="col-md-10">
                                <input asp-for="@Model.Attribute" class="form-control" />
                                <span asp-validation-for="@Model.Attribute" class="text-danger" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label asp-for="@Model.Value" class="col-md-2 control-label"></label>
                            <div class="col-md-10">
                                <input asp-for="@Model.Value" class="form-control" />
                                <span asp-validation-for="@Model.Value" class="text-danger" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label asp-for="@Model.Input" class="col-md-2 control-label"></label>
                            <div class="col-md-10">
                                <input asp-for="@Model.Input" class="form-control" />
                                <span asp-validation-for="@Model.Input" class="text-danger" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label asp-for="@Model.Static" class="col-md-2 control-label"></label>
                            <div class="col-md-10">
                                <input asp-for="@Model.Static" class="form-control thinner" />
                                <span asp-validation-for="@Model.Static" class="text-danger" />
                            </div>
                        </div>
                        <input asp-for="@Model.ProcedureID" class="form-control" type="hidden" readonly="readonly" value="@Model.ProcedureID" />
                        <span asp-validation-for="@Model.ProcedureID" class="text-danger" />
                        <input asp-for="@Model.Order" class="form-control" type="hidden" readonly="readonly" value="@Model.Order" />
                        <span asp-validation-for="@Model.Order" class="text-danger" />
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="Add Procedure Step" class="btn btn-default" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>