@model Starter.ViewModels.Category.ProcedureDetailsViewModel

@{
    ViewData["Title"] = "Procedure: " + Model.Procedure.Name;
}

<div>
    <div class="headertwo">
        <h2>@ViewData["Title"]</h2>
    </div>

    @if (ViewData["Message"] != null)
    {
        <div>
            <p class="message">
                @ViewData["Message"]
            </p>
        </div>
    }

    @Html.Partial("_ProcedureDetailsTable", Model.Procedure)

    <table class="RunOrStopAllTests">
        <tr>
            <td class="RunOrStopAllTests">
                <form method="post" asp-action="UpdateAllProcessesInProcedureFromProcess" asp-controller="Procedures" asp-route-id="@Model.Procedure.ProcedureID">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Update All Processes" class="btn btn-default" />
                    </div>
                </form>
            </td>
            <td class="RunOrStopAllTests">
                <form method="post" asp-action="TestCasesForProcedure" asp-controller="TestCases"  asp-route-id="@Model.Procedure.ProcedureID">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Test Cases" class="btn btn-default" />
                    </div>
                </form>
            </td>
        </tr>
    </table>

</div>

@if (Model.Procedure.IsLocked)
{
    @Html.Partial("_ProcedureStepIndexTableLocked", Model.Procedure.ProcedureSteps)
}
else
{
    @Html.Partial("_ProcedureStepIndexTable", Model.Procedure.ProcedureSteps)

    @Html.Partial("_ImportProcess", Model.ProcessImportViewModel)

    @Html.Partial("_CreateProcedureStep", Model.NewProcedureStep)
}

@if (Model.ProcessesInProcedure.Any())
{
    @Html.Partial("_ProcessesInProcedure", Model.ProcessesInProcedure)

    if (!Model.Procedure.IsLocked)
    {
        @Html.Partial("_RightClickMenuForProcessesInProcedure")
    }
}


<div>
    <div>
        <hr />
        <p>
            <a class="Actions" asp-action="Edit" asp-route-id="@Model.Procedure.ProcedureID">Edit</a>
        </p>
        <p>
            <a class="Actions" asp-action="Delete" asp-route-id="@Model.Procedure.ProcedureID">Delete</a>
        </p>
        <p>
            <a class="Actions" asp-controller="Sets" asp-action="Details" asp-route-id="@Model.Procedure.SetID">Back to Set: @Model.Procedure.Set.Name</a>
        </p>
        <p>
            <a class="Actions" asp-controller="Collections" asp-action="Details" asp-route-id="@Model.Procedure.Set.CollectionID">Back to Collection: @Model.Procedure.Set.Collection.Name</a>
        </p>
        <p>
            <a class="Actions" asp-controller="Categories" asp-action="Details" asp-route-id="@Model.Procedure.Set.Collection.CategoryID">Back to Category: @Model.Procedure.Set.Collection.Category.Name</a>
        </p>
        <p>
            <a class="Actions" asp-controller="Categories" asp-action="Index">Back to Categories</a>
        </p>
    </div>
</div>