@model Starter.Models.TestRunner

<div>
    <div>
        <dl class="dl-horizontal doublewidth">
            <dt class="dtTable doublewidth">
                @Html.DisplayNameFor(model => model.ConfigurationDetails)
            </dt>
            <dd>
                <p class="TableParagraph">
                    @Html.DisplayFor(model => model.ConfigurationDetails)
                </p>
            </dd>
            <dt class="dtTable doublewidth">
                @Html.DisplayNameFor(model => model.ClearRemoteLogOnNextAccess)
            </dt>
            <dd>
                <p class="TableParagraph">
                    @Html.DisplayFor(model => model.ClearRemoteLogOnNextAccess)
                </p>
            </dd>
            <dt class="dtTable doublewidth">
                @Html.DisplayNameFor(model => model.TakeScreenshots)
            </dt>
            <dd>
                <p class="TableParagraph">
                    @Html.DisplayFor(model => model.TakeScreenshots)
                </p>
            </dd>
        </dl>
    </div>
</div>
