@model IEnumerable<Starter.Models.Process>

<div class='panel-Process'>
    <div class='panel panel-default'>
        <div class='panel-heading'>
            <h3 class='panel-title'>
                <a data-toggle='collapse' id='Toggle' href='#collapseProcesses'>Processes</a>
            </h3>
        </div>

        @if (Model.Any())
        {
            <div id='collapseProcesses' class='panel-collapse collapsed collapse in'>
                <div class='panel-body'>
                    <table id="3ColumnDataTable" class="table table-striped">
                        <thead id="greyTableheader">
                            <tr>
                                <th>
                                    ID
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Name)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Description)
                                </th>
                            </tr>
                        </thead>

                        <tbody id="RightClickTable">

                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        <p class="TableParagraph">@item.ProcessID</p>
                                    </td>
                                    <td>
                                        <p class="TableParagraph">
                                            <a asp-controller="Processes" asp-action="Details" asp-route-id="@item.ProcessID" class="Actions">@item.Name</a>
                                        </p>
                                    </td>
                                    <td>
                                        <p class="TableParagraph">
                                            @Html.DisplayFor(modelItem => item.Description)
                                        </p>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        }

        else
        {
            <div id='collapseProcesses' class='panel-collapse collapsed collapse in'>
                <div class='panel-body'>
                    <p>
                        There are currently no Processes
                    </p>
                </div>
            </div>
        }

    </div>
</div>

<ul id="contextMenu" class="dropdown-menu" role="menu" style="display:none">
    <li><a tabindex="-1" href="#" name="Processs">Edit</a></li>
    <li><a tabindex="-1" href="#" name="Processs">Details</a></li>
    <li><a tabindex="-1" href="#" name="Processs">Delete</a></li>
</ul>
