@model Starter.Controllers.LibraryAndSectionAndSuite

@{
    ViewData["Title"] = "Section: " + Model.Section.Name;
}

<div>
    <div class="headertwo">
        <h2>@ViewData["Title"]</h2>
    </div>

    @if (ViewData["Message"] != null)
    {
        <div>
            <p class="message">
                @ViewData["Message"]
            </p>
        </div>
    }

    @Html.Partial("_SectionDetailsTable", Model.Section)

    <hr />

    @Html.Partial("_SuiteIndexTable", Model.Suites)

    @Html.Partial("_CreateSuite", Model)

    <div>
        <hr />
        <p>
            <a asp-action="Edit" asp-route-id="@Model.Section.SectionID" class="Actions">Edit</a>
        </p>
        <p>
            <a asp-action="Delete" asp-route-id="@Model.Section.SectionID" class="Actions">Delete</a>
        </p>
        @Html.Partial("_BackToParentLibrary", Model.Library)
        <p>
            <a asp-controller="Libraries" asp-action="Index" class="Actions">Back to Libraries</a>
        </p>
    </div>
</div>