@model Starter.Controllers.ProjectAndFolder

@{
    ViewData["Title"] = "Edit Folder: " + Model.Folder.Name;
}

<div>
    <div class="headertwo">
        <h2>@ViewData["Title"]</h2>
    </div>

    <form asp-action="Edit">
        <div class="form-horizontal">
            <div asp-validation-summary="ValidationSummary.ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Folder.FolderID" />
            <div class="form-group">
                <label asp-for="Folder.Name" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="Folder.Name" class="form-control" />
                    <span asp-validation-for="Folder.Name" class="text-danger" />
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Folder.Description" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <textarea asp-for="Folder.Description"  class="form-control textarea" rows="5">@Model.Folder.Description</textarea>
                    <span asp-validation-for="Folder.Description" class="text-danger" />
                </div>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Folder.TestRunnerGroupID" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <select asp-for="@Model.Folder.TestRunnerGroupID" data-placeholder="Choose Test Runner Group" class="chosen">
                        <option></option>
                        @foreach (var item in ViewBag.TestRunnerGroups)
                        {
                            @if (item.Value == Model.Folder.TestRunnerGroupID.ToString())
                            {
                                <option value="@item.Value" selected="selected">@item.Text</option>
                            }
                            else
                            {
                                <option value="@item.Value">@item.Text</option>
                            }
                        }
                    </select>
                    <span asp-validation-for="@Model.Folder.TestRunnerGroupID" class="text-danger" />
                </div>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Folder.ProjectID" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <select asp-for="@Model.Folder.ProjectID" asp-items="ViewBag.Projects" class="chosen"></select>
                    <span asp-validation-for="@Model.Folder.ProjectID" class="text-danger" />
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Save" class="btn btn-default" />
                </div>
            </div>
        </div>
    </form>

    <hr />

    <div>
        <p>
            <a class="Actions" asp-action="Details" asp-route-id="@Model.Folder.FolderID">Back to Folder: @Model.Folder.Name</a>
        </p>
        @Html.Partial("_BackToParentProject", Model.Project)
    </div>
    
</div>

