@model Starter.Models.TestEnvironment

<div>
    <div>
        <dl class="dl-horizontal">
            <dt class="dtTable">
                @Html.DisplayNameFor(model => model.Description)
            </dt>
            <dd>
                <p class="TableParagraph">
                    @Html.DisplayFor(model => model.Description)
                </p>
            </dd>
            <dt class="dtTable">
                @Html.DisplayNameFor(model => model.XMLFilePath)
            </dt>
            <dd>
                <p class="TableParagraph">
                    <a asp-controller="TestEnvironments" asp-action="ReturnTestEnvironmentsFile" asp-route-id="@Model.TestEnvironmentID">@Model.XMLFilePath</a>
                </p>
            </dd>
        </dl>
    </div>
</div>
